	body {
		flex-align:center;
        background-color:#e2e2e2;
		box-sizing: border-box;
		margin:0px;
    }
	
    .myHeader {
        color:#fff;
        background:#fff;
        text-align:center;
        margin-left:0px;   
        margin-right:0px;
        font-size:20px;
		padding: 15px 0px;
		text-align:center;
        font-family:'Segoe UI';
		margin-bottom:10px;
		box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
		transition: all 0.4s cubic-bezier(.25,.8,.25,1);	
    }
	
	.myHeader:Hover{
		box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 6px 12px rgba(0,0,0,0.22);
	}
	
	.myHeadeInfo{
		background-color:#fff;
		height:48px;
		margin-bottom:10px;
		color:#121212;
        text-align:center;
        margin-left:0px;   
        margin-right:0px;
        font-size:18px;
		padding: 12px 0px;
		text-align:left;
		content:inline;
		padding-left:20px;
        font-family:'Segoe UI';
		box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	
	#column1{
		width:20%;
		float:left;
	}
	
	#column2{
		width:80%;
		float:right;
	}

    .myFormLabel {
        font-family:'Gadugi';
        font-size:12px;
        color:#000;
        height:24px;
        width:100%;
        margin-top:16px;
        margin-left:3px;
        padding:6px;
        text-align:match-parent;
    }
	
    .myFormInput {
        border:initial;  
        min-width:200px;
        border: none;
        text-align:left;
        border-bottom: 1px solid #FF4343;
        font-family:'Century Gothic';
        font-size:12px;
        color:#FF4343;
        margin:5px;
        margin-left:6px;
        padding:6px;
    }
    .myFormList {
   
        min-width:400px; 
       border-bottom: 1px solid #FF4343;
       margin-top:10px;
       margin-left:20px;
       margin-bottom:10px;
       width:initial;
       height:32px;
    }
	

	.myGoButton {
	margin-top:10px;
    height:36px;
    min-width:160px;
    font-family:'Century Gothic';
    color:#fff; 
    margin-left:10px;
	border:0px;
    background-color:#FF4343;
	}
	
	#columnchart_material{
		
		border:1px solid #121212;
		box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
		border-radius:2px;
		width:100%;padding:15px;
		height:500px;
		
	}
	#colchart_diff{
		 display: inline-block;
		 border:1px solid #121212;
		box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
		border-radius:2px;
		width:100%;padding:15px;
	}
	#chart_div{
		border:1px solid #121212;
		box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
		border-radius:2px;
		width:100%;padding:15px;
		height:500px;
	}