* {
    box-sizing: border-box;
	background-color:#dfdfdf;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.dashboard{
	margin:0.1%;
	width:99.8%;
	box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);	
	background-color:#fff;
}

#top_dash{
	
	min-height:500px;
}

#bottom_dash{
	
	min-height:190px;
	background-color:#401B6C;
}

#summary_panel{
	
	min-height:600px;
	background-color:#744DA9;
}
#top_dash{
	
	
	background-color:#8764B8;
}
.icon{
	background-color:#fff;
}
.icon img {
	padding:10px;
	color:#fff;
	background-color:#fff;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}
.card{
	background-color:#fff;
	text-align:center;
	border:0.5px solid #dedede;
	border-top:.2px solid #fff;
	margin:auto;
}
.head_text{
	font-family: 'Montserrat', sans-serif;
	color:#232323;
	background-color:#fff;
	padding-top:6px;
	margin-top:0px;
	padding-bottom:4px;
	margin-bottom:0px;
}
.card_small{
	background-color:#fff;
	inline-block;
	float:left;
	margin:1px;
    width: 49%;
	vertical-align:center;
	border:.2px solid #eeeeee;
	
}
.head_text_small{
	
	font-size:12px;
	font-family: 'Quattrocento Sans', sans-serif;
	color:#232323;
	background-color:#fff;
	padding-top:4px;
	margin-top:0px;
	padding-bottom:4px;
	margin-bottom:0px;
	
}
.head_text.num{
	font-family: 'Montserrat', sans-serif;
	color:#121212;
	font-size:28px;
	padding-top:10px;
	margin-top:0px;
	padding-bottom:0px;
	margin-bottom:0px;
	
}




